@model List<Astro>
@{
    ViewData["Title"] = "Lista de Astros";
}

<link rel="stylesheet" href="~/css/lista_de_astros.css" asp-append-version="true">

<div class="container-title">
  <h1>Astros</h1>
  <a asp-action="CadastrarAstro" class="btn btn-primary">Novo</a>
</div>



<div class="accordion">
  @foreach (var astro in Model)
  {
    <div class="accordion-item">
      <div class="accordion-header" id="heading_@astro.Id">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@astro.Id" aria-expanded="true" aria-controls="collapse_@astro.Id">
          <img src="@astro.Foto" alt="">
          <h2>@astro.Nome</h2>
        </button>
      </div>
      <div id="collapse_@astro.Id" class="accordion-collapse collapse" aria-labelledby="heading_@astro.Id">
        <div class="accordion-body">
          <ul>
            <li><strong>Id:</strong><span>@astro.Id</span></li>
            <li><strong>Número de usuários:</strong><span>Funcionalidade incompleta</span></li>
            <li><strong>Curiosidades:</strong><span>@astro.Curiosidades</span></li>
            <li class="btn-container">
              <button type="button" class="btn btn-primary">Editar</button>
              <button type="button" class="btn btn-danger">Excluir</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  }

 
</div>