@{
    ViewData["Title"] = "Lista de Astros";
}

<link rel="stylesheet" href="~/css/lista_de_astros.css" asp-append-version="true">

<div class="container-title">
  <h1>Astros</h1>
  <button type="button" class="btn btn-primary">Novo</button>
</div>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <div class="accordion-header" id="headingOne">
      <img src="https://img.freepik.com/vetores-gratis/fundo-hexagonal-escuro-com-cor-gradiente_79603-1409.jpg?size=626&ext=jpg" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    </div>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul>
          <li><strong>Id:</strong><span>2</span></li>
          <li><strong>Número de usuários:</strong><span>2</span></li>
          <li><strong>Descrição:</strong><span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad architecto illo atque maiores, recusandae ipsam ullam, corrupti earum deleniti vel voluptate impedit obcaecati ut nam omnis a? Deserunt, asperiores magnam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, cum animi corrupti repellat impedit quibusdam non numquam dolorum iure? Dicta fugiat optio maiores ullam in suscipit voluptatum dolore quia recusandae.</span></li>
          <li class="btn-container">
            <button type="button" class="btn btn-primary">Editar</button>
            <button type="button" class="btn btn-danger">Excluir</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
   <div class="accordion-header" id="headingTwo">
      <img src="https://img.freepik.com/vetores-gratis/fundo-hexagonal-escuro-com-cor-gradiente_79603-1409.jpg?size=626&ext=jpg" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
    </div>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          <ul>
          <li><strong>Id:</strong><span>2</span></li>
          <li><strong>Número de usuários:</strong><span>2</span></li>
          <li><strong>Descrição:</strong><span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad architecto illo atque maiores, recusandae ipsam ullam, corrupti earum deleniti vel voluptate impedit obcaecati ut nam omnis a? Deserunt, asperiores magnam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, cum animi corrupti repellat impedit quibusdam non numquam dolorum iure? Dicta fugiat optio maiores ullam in suscipit voluptatum dolore quia recusandae.</span></li>
          <li class="btn-container">
            <button type="button" class="btn btn-primary">Editar</button>
            <button type="button" class="btn btn-danger">Excluir</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
   <div class="accordion-header" id="headingThree">
      <img src="https://img.freepik.com/vetores-gratis/fundo-hexagonal-escuro-com-cor-gradiente_79603-1409.jpg?size=626&ext=jpg" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
    </div>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          <ul>
          <li><strong>Id:</strong><span>2</span></li>
          <li><strong>Número de usuários:</strong><span>2</span></li>
          <li><strong>Descrição:</strong><span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad architecto illo atque maiores, recusandae ipsam ullam, corrupti earum deleniti vel voluptate impedit obcaecati ut nam omnis a? Deserunt, asperiores magnam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, cum animi corrupti repellat impedit quibusdam non numquam dolorum iure? Dicta fugiat optio maiores ullam in suscipit voluptatum dolore quia recusandae.</span></li>
          <li class="btn-container">
            <button type="button" class="btn btn-primary">Editar</button>
            <button type="button" class="btn btn-danger">Excluir</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>