.container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.btn {
    padding: 0.375rem 1.2rem !important;
}

ul {
    padding: 0;
}

.accordion-body ul {
   list-style: none;
}

.btn-container {
    margin-top: 15px;
}

.accordion-body span {
    margin-left: 5px;
}

.accordion-button {
    display: flex;
    align-items: center;
}

.accordion-button img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.accordion-button h2 {
    color: #000;
    margin: 0 0 0 20px;
}